# eclipse
.project
.settings

# Servlets
WEB-INF

# OS X
.DS_STORE
.DS_Store

# Josh's initrc file?
.jshintrc

# Sublime text
*.sublime-project
*.sublime-workspacezenplanner/studio/skin/node_modules

# front-end
zenplanner/kiosk/skin/node_modules
zenplanner/studio/skin/node_modules
zenplanner/studio/node_modules
zenplanner/studio/app/bower_components
zenplanner/studio/app/dist
zenplanner/studio/app/tmp
zenplanner/studio/client-libs

# local properties overrides
*.local

# Build output
target/
*.built.js

# intellij
.idea*
*.iml
