#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container: #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: #aaa;
}
.gear {
   background: url(images/gear.png);
   background-size: 20px 20px;
   background-repeat: no-repeat;
   width: 25px;
   height: 25px;
}
 
.gear:hover {
background: url(images/gear2.png);
background-size: 25px 25px;
background-repeat: no-repeat;
}
.admin{
background-color: yellow;
display: none;
}
.image1 {
   background: url(images/scale1.png);
   background-repeat: no-repeat;
   width: 64px;
   height: 64px;
   border: 1px solid;
   float: left; 
}
.image2 {
   background: url(images/person26.png);
   background-repeat: no-repeat;
   width: 64px;
   height: 64px;
   border: 1px solid;
   float: left; 
   
}
.image3 {
   background: url(images/standing83.png);
   background-repeat: no-repeat;
   width: 64px;
   height: 64px;
   border: 1px solid;
   float: left;  
}
.image4 {
   background: url(images/weightlift.png);
   background-repeat: no-repeat;
   width: 64px;
   height: 64px;
   border: 1px solid; 
   float: left; 
}
.image5 {
   background: url(images/dancing.png);
   background-repeat: no-repeat;
   width: 64px;
   height: 64px;
   border: 1px solid;
   float: left; 

}

@media (max-width: 1000px) {
   .image1 {
    background: url(images/scale1s.png);
    width: 32px;
    height: 32px;
    background-color: green;
    float: none;
  }
  .image2 {
    background: url(images/person26s.png);
    width: 32px;
    height: 32px;
    background-color: green;
    float: none;
  }
  .image3 {
    background: url(images/standing83s.png);
    width: 32px;
    height: 32px;
    background-color: green;
    float: none;
  }
  .image4 {
    background: url(images/weightlifts.png);
    width: 32px;
    height: 32px;
    background-color: green;
    float: none;
  }
  .image5 {
    background: url(images/dancings.png);
    width: 32px;
    height: 32px;
    background-color: green;
    float: none;
  }

  }
;
